*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
*.aab
*.apk
app/release/
build.log
/frontend/node_modules
/frontend/dist
/tmp
*.mjs
/.kotlin
implementation_plan.md
/log
app/dynamic_castla.p12
app/dynamic_castla.p12
app/dynamic_castla.p12.last_check
app/dynamic_castla.p12
